<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./partials/header') %>
    <main class="addProduct-main">
        <div>
            <h2 class="addProduct-title-h2">Editar producto: <%= product.name %></h2>
        </div>
        <form action="/products/update/<%= product.id %>?_method=PUT" method="POST">
            <div class="addProduct-div-general">
              <fieldset class="addProduct-fieldset">
                <legend>Ingrese el nombre del producto</legend>
                <input type="text" name="name" value="<%= product.name %>" required>
              </fieldset>
            </div>              
            <div class="addProduct-div-general">
              <fieldset class="addProduct-fieldset">  
                <legend>Descripción del producto</legend>
                <textarea type="text" name="description"><%= product.description %></textarea>
              </fieldset>
            </div>  
        <div class="addProduct-div-padre_img">           
            <div class="addProduct-div-img_producto">  
                <!-- <label for="image">Agregar imagen del producto</label>
                <input type="file" name="image" id="image" multiple> -->   
                <img width="200" src="/images/productsImage/<%= product.image %>" alt="<%= product.name%>">   
            </div>
        </div>
            <div class="addProduct-div-catYcolor">
                <select name="category">
                    <option value="in-sale"<%= product.category === "in-sale" && "selected" %> >En oferta</option>
					<option value="visited"<%= product.category === "visited" && "selected" %> >Últimos agregados</option>
                </select>             
            
                <select name="brand">
                   <!--  <option value="Marca">Marca</option> -->
                    <option value="brand"<%= product.brand === "brand" && "selected" %> ><%= product.brand %></option>
                    
                    <option value="Body Advance">Body Advance</option>
                    <option value="BSN">BSN</option>
                    <option value="ENA Sport">ENA Sport</option>           
                    <option value="Muscletech">Muscletech</option>
                    <option value="Nutrex">Nutrex</option>
                    <option value="Nutrex Research">Nutrex Research</option>
                    <option value="Optimum Nutrition">Optimum Nutrition</option>
                    <option value="Protein Project">Protein Project</option>
                    <option value="Star Nutrition">Star Nutrition</option> 
                </select>
            </div>
            <div class="addProduct-div-general"> 
              <fieldset class="addProduct-fieldset">   
                <legend>Precio</legend>
                <input type="number" name="price" value="<%= product.price %>"> 
              </fieldset>           
            </div>
            <div class="addProduct-div-button">
                <button type="submit">Editar</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>