<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear producto</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/adminNavBar') %>
    <main class="addProduct-main">
      <div>
        <h2 class="addProduct-title-h2">Cargar nuevos productos</h2>
      </div>
      <form action="/products/store" method="POST" enctype="multipart/form-data">
        <div class="addProduct-div-general">
          <fieldset class="addProduct-fieldset">
            <legend>Ingrese el nombre del producto</legend>
            <input type="text" name="name" required>
          </fieldset>
        </div>
        <div class="addProduct-div-general">
          <fieldset class="addProduct-fieldset">
            <legend>Descripción del producto</legend>
            <textarea name="description" required></textarea>
          </fieldset>
        </div>
        <div class="addProduct-div-padre_img">
          <div class="addProduct-div-img_producto">
            <label id="image" for="image">Agregar imagen del producto</label>
            
          </div>
        </div>
        <div class="addProduct-div-catYcolor">
          <select name="sectionId">
            <option value="">Sección</option>
            <% sections.forEach(({id,name}) => { %>
              <option value="<%= id %> "><%= name %> </option>
            <% }) %>
           
          </select>
          <select name="categoryId">
            <option value="category">Categoría</option>
            <% categories.forEach(({id,name}) => { %>
              <option value="<%= id %> "><%= name %> </option>
            <% }) %>
            
          </select>

          <select name="brandId">
            <option value="Marca">Marca</option>
            <% brands.forEach(({id,name}) => { %>
              <option value="<%= id %> "><%= name %> </option>
            <% }) %>
            
          </select>
        </div>
        <div class="addProduct-div-general">
          <fieldset class="addProduct-fieldset">
            <legend>Precio</legend>
            <input type="number" name="price">
          </fieldset>
        </div>
        <input type="file" name="images" id="image" for="image" multiple>
        <div class="addProduct-div-button">
          <button type="submit">Guardar</button>
          <button type="reset">Borrar</button>
        </div>
       
      </form>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>