<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>
    <%- include('./partials/adminNavBar') %> 
    <main class="addProduct-main">
        <div>
            <h2 class="addProduct-title-h2">Editar producto: <%= product.name %></h2>
        </div>
        <form action="/products/update/<%= product.id %>?_method=PUT" method="POST">
            <div class="addProduct-div-general">
              <fieldset class="addProduct-fieldset">
                <legend>Ingrese el nombre del producto</legend>
                <input type="text" name="name" value="<%= product.name %>" required>
              </fieldset>
            </div>              
            <div class="addProduct-div-general">
              <fieldset class="addProduct-fieldset">  
                <legend>Descripción del producto</legend>
                <textarea type="text" name="description"><%= product.description %></textarea>
              </fieldset>
            </div>  
        <div class="addProduct-div-padre_img">           
            <div class="addProduct-div-img_producto">  
                <!-- <label for="image">Agregar imagen del producto</label>
                <input type="file" name="image" id="image" multiple> -->   
                <img width="200" src="/images/productsImage/<%= product.image %>" alt="<%= product.name%>">   
            </div>
        </div>
            <div class="addProduct-div-catYcolor">
                <select name="sectionId">
                    <% sections.forEach(({id, name}) => { %>
                      <option value="<%= id %>" <%= id === product.sectionId && 'selected' %>><%= name %></option>
                     <% }) %>
                </select>

                <select name="categoryId">
                  <% categories.forEach(({id, name}) => { %>
                   <option value="<%= id %>" <%= id === product.categoryId && 'selected' %>><%= name %></option>
                  <% }) %>
                </select>    
            
                <select name="brandId">
                   <!--  <option value="Marca">Marca</option> -->                   
                    <% brands.forEach(({id, name}) => { %>
                      <option value="<%= id %>" <%= id === product.brandId && 'selected' %>><%= name %></option>
                     <% }) %>
                </select>
            </div>
            <div class="addProduct-div-general"> 
              <fieldset class="addProduct-fieldset">   
                <legend>Precio</legend>
                <input type="number" name="price" value="<%= product.price %>"> 
              </fieldset>           
            </div>
            <div class="addProduct-div-button">
                <button type="submit">Editar</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>