

<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/adminNavBar') %> 
    <main class="login-main">
        <div class="login-main-div">
            
        </div>
        <div class="login-main-hijo">
            <h1>Inicia sesión</h1>
            <form action="" id="formulario" method="post" class="needs-validation" novalidate> 
        
                <div class="has-validation">
                    <div class="login-main-div">
                        <label class="login-main-label">Email:</label>
                        <input class="login-main-input form-control" type="email" id="email" name="email" placeholder="ej: tunombre@email.com" >         
                    </div>
                </div>
                     <p id="emailError" class="d-block text-danger text-start"></p>
                     <% if (locals.errors && errors.email) { %>
                        <p style="color: red; font-weight: bold; text-align: end;"><%= errors.email.msg %> </p>
                       <% } %>
        
                <div>
                    <div class="has-validation">
                        <div class="login-main-div">
                            <label class="login-main-label">Contraseña:</label>
                            <i class="fa-solid fa-eye-slash eye-logo" ></i>
                            <input class="login-main-input form-control"  type="password" id="password" name="password">                           
                        </div>
                        <p id="passwordError" class="d-block text-danger text-start "></p> 
                    </div>
                     
                <p class="login-main-olv-contraseña"><a href="">¿Olvidaste tu contraseña?</a></p>
        
                <div class="text-center">
                    <input class="form_button--checkbox" type="checkbox" id="recordarme" name="remember"><label class="ms-1" for="recordarme">Recordarme</label>
                </div>
            
        
        
                <div class="login-main-div-button">
                    <button class="login-main-button" type="submit">ACCEDER</button>
                </div>
                <p class="login-main-crear_cuenta">¿No tienes cuenta? <a class="login-main-a-crear_cuenta" href="/users/register">Crear cuenta</a></p>
             </form>
        </div>
    
    </main>
    <%- include('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
    <script src="/js/userLogin.js"></script>

   </script>
</body>
</html>