<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
        <%- include('./partials/adminNavBar') %> 
            <main class="container">
                <div class="container">
                    <div class="d-flex align-items-center p-2">
                        <h2>Tabla de productos</h2>
                        <a href="/products/add/<%= products.id %> " class="btn-trainingShopAdd">Ingresar Productos</a>
                    </div>
                    
                </div>
                
                <div class="cotainer">
                    <div class="row">
                        <div class="col table table-responsive">
                            <table class="table table-striped table-hover table-bordered table-responsive">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>IMAGEN</th>
                                        <th>PRODUCTO</th>
                                        <th>PRECIO</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>
                                <% products.forEach(({id,name,price,images}) => { %>
                                 <tbody >
                                    <td><%= id %> </td>
                                    <td><img width="70px" class="img-responsive d-block mx-auto" src="/images/productsImage/<%= images[0].file %>" alt=""></td>
                                    <td><%= name %> </td>
                                    <td>$<%= toThousand(price) %> </td>
                                    <td>
                                        
                                        <a href="/products/edit/<%= id %>"><button type="button" class="btn-TraininShop">Editar</button></a>
                                      
                                        <form action="/products/delete/<%= id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="btn-TraininShop">Borrar</button>
                                        </form>
                                        
                                    </td>
                                </tbody>
                                <% }) %> 
                                
                            </table>
                        </div>
                    </div>
                </div>
                

            </main>
            <%- include('./partials/footer') %>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                    crossorigin="anonymous"></script>
    </body>

</html>