<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <%- include('./partials/adminNavBar') %>
        <main class="register-main">
          <div class="register-main-hijo">
            <nav>
              <ul class="register-main-menu">
                <li><a href="/">Inicio ></a></li>
                <li><a href="/users/login">Mi cuenta ></a></li>
                <li><a href="/users/register">Crear cuenta</a></li>
              </ul>
            </nav>
            <h1 class="register-main-titulo">Registrate</h1>
            <form id="formRegister" action="" method="post">
              <!-- <div class="form__container"></div> -->
                <div class="col-md-12">
                  <label class="register-main-label">Nombre:</label>
                  <input class="register-main-input form-control" type="text" name="name" id="name">
                  <small  class="d-block text-danger text-start "></small>
                  <p class="form__error__msg" id="nameError">
                    <%= locals.errors && errors.name ? errors.name.msg : null%>
                  </p>
                </div>
              <div class="col-md-12">
                <label class="register-main-label">Apellido:</label>
                <input class="register-main-input form-control" id="lastName" type="text" name="lastName" value="<%= locals.old ? old.lastName : null %>">
                <small  class="d-block text-danger text-start "></small>
                <p class="form__error__msg" id="lastNameError">
                  <%= locals.errors && errors.lastName ? errors.lastName.msg : null%>
                </p>
              </div>
              <div class="register-main-div">
                <label class="register-main-label">Email:</label>
                <input class="register-main-input form-control" type="email" id="email" name="email" value="<%= locals.old ? old.email : null %>">
                <small  class="d-block text-danger text-start "></small>
                <p class="form__error__msg" id="emailError">
                  <%= locals.errors && errors.email ? errors.email.msg : null%>
                </p>
              </div>
              <div class="register-main-div">
                <label class="register-main-label">Teléfono (opcional):</label>
                <input class="register-main-input" type="tel" name="phone">
              </div>
              <div class="register-main-div">
                <label class="register-main-label">Contraseña:</label>
                <div class="d-flex  mb-3" style="cursor: pointer;" onclick="viewPass(event)">
                  <span id="viewPass"><i class="fa-solid fa-eye-slash"></i></span>
                </div>
                <input class="register-main-input" type="password" id="pass" name="password"
                  value="<%= locals.old ? old.password : null %>">
                <small  class="d-block text-danger text-start "></small>
                <p class="form__error__msg" id="passError">
                  <%= locals.errors && errors.password ? errors.password.msg : null%>
                </p>
              </div>
              <div class="register-main-div">
                <label class="register-main-label">Confirmar Contraseña:</label>
                <!-- <div class="d-flex  mb-3"  style="cursor: pointer;" onclick="viewPass(event)">
              <span  id="viewPass"><i class="fa-solid fa-eye-slash"></i></span> 
            </div> -->
                <input class="register-main-input form-control" type="password" id="pass2" name="password2"
                  value="<%= locals.old ? old.password2 : null %>">
                <small  class="d-block text-danger text-start "></small>
                <p class="form__error__msg" id="pass2Error">
                  <%= locals.errors && errors.password2 ? errors.password2.msg : null%>
                </p>
              </div>
              <div class="text-center">
                <input class="form_button--checkbox" type="checkbox" id="terms" name="remember"><label class="ms-1"
                  for="recordarme">Acepto terminos y condiciones</label>
                <small id="termsError" class="d-block text-danger text-start "></small>
                
              </div>
              <span id="msgError" class="text-danger"></span>
              <div class="register-main-div_button">
                <button class="register-main-button" type="submit">Crear cuenta</button>
              </div>
              
              <p class="register-main-p">¿Ya tenés una cuenta? <a class="register-main-inicia_sesion"
                  href="/users/login">Inicia Sesión</a></p>
            </form>
          </div>
        </main>
        <%- include('./partials/footer') %>
          <%- include('./partials/scripts') %>

            <script src="/js/registerValidations.js"></script>


  </body>

</html>

</body>

</html>