<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
        <%- include('./partials/adminNavBar') %> 
            <main class="container">
                <h3>Tabla de Usuarios</h3>
                <!-- <div class="container">
                    <div class="d-flex align-items-center p-2">
                        <h2>Tabla de Usuarios</h2>
                        <a href="#" class="btn-trainingShopAdd">Ingresar nuevo usuario</a>
                    </div>
                    
                </div> -->
                
                <div class="cotainer">
                    <div class="row">
                        <div class="col">
                            <table class="table table-striped table-hover table-bordered tabla-users">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOMBRE</th>
                                        <th>EMAIL</th>
                                        <th>de</th>
                                    </tr>
                                </thead>
                                <% users.forEach(({id,name,lastname,email}) => { %>
                                 <tbody >
                                    <td><%= id %> </td>
                                    <td><%= name %> </td>
                                    <td><%= email %> </td>
                                    <td>
                                        
                                        <!-- <a href="#"><button type="button" class="btn-TraininShop">Editar</button></a> -->
                                      
                                        <form action="/users/delete/<%= id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="btn-TraininShop">Borrar</button>
                                        </form>
                                        
                                    </td>
                                </tbody>
                                <% }) %> 
                                
                            </table>
                        </div>
                    </div>
                </div>
                

            </main>
            <%- include('./partials/footer') %>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                    crossorigin="anonymous"></script>
    </body>

</html>